name: Pipeline CI/CD Final

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build project
        run: mvn -B clean compile

      - name: Run unit tests
        run: mvn -B test

      - name: Run BDD tests (Cucumber)
        run: mvn -B verify

      - name: Package application
        run: mvn -B package

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: eps-modulo
          path: target/*.jar
